<div class="wrapper">
    <div class="box">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
    </div>
</div>

<div class="container">

    <div class="doughnut-container">
        <div class="col-lg-6">
            <h2>Number of Tasks in each category</h2>
            <canvas id="dougnutchart"></canvas>
    </div>

    
</div>

    <div class="bar-container">
        <div class="col-lg-6">
            <h2>Count of Tasks Having Due Date in a Month</h2>
            <canvas id="barchart"></canvas>
        </div>
    </div>
</div>


