
.container {
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-content: space-between; 
    align-items: center;
    margin: 20px;
  }
  
  
  .doughnut-container{
    z-index: 1;
    justify-content: center; 
    border: 1px solid #ccc;
    max-width: 70%;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.329);
  }

  
  .line-container {
    justify-content: left; 
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.329);
  }

  .bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #87CEEB, #D3D3D3);
    height: 560px;
}

#barchart {
    width: 700px;
    
    padding-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.329);
}

  

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: solid;
  }

  .wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:  linear-gradient(to right, #87CEEB, #D3D3D3);

}

h1{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(75, 218, 39, 0.8);
    box-shadow: 5px 5px 5px 2px black;
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
    
}
  