<div class="wrapper">
    <div class="box">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
    </div>
</div>

<div class="front-container">
   
    <div class="front-card">
        <div class="card-details">
        <h1>The all-in-one platform for projects.</h1>
        <br>
        <p> Task Pilot is to revolutionize your workplace with its powerful yet simple team management solutions. 
            Best of all, it offers unmatched efficiency! Task Pilot makes your task management effortless. 
            We know people are your greatest asset and we're dedicated to helping you manage them more effectively!</p>
    </div>
    <button mat-raised-button style="background-color: rgb(61, 148, 58); color: white;" routerLink="/signup">Let's get Started</button>
</div>
   
    
    <div class="images">
        
    </div>

    <div class="second-image">

    </div>

    <div class="card-details">
        <h1  style="margin-top: 30px;">Bring the big picture into view</h1>
        <br>
        <p> Easily track your team’s progress, priorities, and workload.
             Identify blockers, celebrate wins, and plan ahead so your team never misses
              a beat and projects always stay on track.</p>
        <p>Easily focus on what matters most by setting priority levels.</p>
    </div>
</div>


